
@font-face
{
    font-family: Personal;
    src: url(../media/font.otf) format("opentype");

}

body
{
    --main-hd-color: #151515;
    --second-hd-color: LightGray;

    --main-tit-color: GhostWhite;
    --second-tit-color: #151515;

    --main-nav-color: #151515;
    --second-nav-color: white;

    --main-text-color: GhostWhite;
    --second-text-color: #222222;

    --font: Personal;

    display: block;

    width: 100%;
    height: 100%;

    margin: 0;

    background-color: #202020;
    -ms-overflow-style: none;

}

body::-webkit-scrollbar {
    display: none;
}

header
{
    background-color: var(--main-hd-color);
    position: fixed;
    display: block;

    padding: 0;
    margin: 0;

    width: 100%;
    height: 70px;

    z-index: 3;

    -webkit-transition: .4s;
    transition: .4s;
}

svg{
    width: 40px;
    height: 40px;
    margin: 5px;
}

svg * {
    width: 100%;
    height: 100%;
    fill: var(--main-tit-color);
}

#header
{
    float: left;
    display: flex;

    height: 100%;
    margin-top: 10px;

    text-decoration: none;
}

#logo
{
    float: left;
    position: relative;
}

#title
{
    float: left;
    display: block;

    margin-left: 5px;

    font-family: var(--font);
}

#title #name
{
    color:  var(--main-tit-color);
    font-weight: bold;
    font-size: 25px;
}

#title #position
{
    color:  var(--main-tit-color);
    font-size: 15px;
}

#mode
{
    float: right;
    display: flex;

    height: 100%;
    margin-top: 10px;

    font-family: var(--font);
    vertical-align: middle;
}

#mode .text
{
    color:  var(--main-tit-color);

    float: right;

    margin: 16px;
    margin-right: 0;
    font-family: monospace;
}

.switch
{
    float: right;
    display: inline-block;
    position: relative;

    width: 38px;
    height: 18px;
    margin: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: var(--second-hd-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;

    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;

    content: "";
    background-color: var(--main-hd-color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--main-tit-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 9px;
}

.slider.round:before {
    border-radius: 50%;
}

main
{
    position: absolute;

    top: 70px;
    bottom: 0;

    width: 100%;
}

#terminal
{
    position: fixed;

    padding-left: 10px;
    width: calc(100% - 10px);
    height: 100%;

    z-index: 2;
    top: 70px;
    left: -100%;

    transition: .4s;
    user-select: none;
    background-color: #111111;
}

#net-nav
{
    position: sticky;
    display: inline-block;

    top: 70px;

    padding: 0;
    margin: 0;

    z-index: 1;
    width: 100%;

    list-style: none;
}

#net-nav li
{
    text-align: center;
}

#net-nav li a
{
    float: right;

    margin: 10px 10px;

    text-decoration: none;
    font-family: var(--font);
    background-color: var(--second-nav-color);
    color: var(--second-text-color);
    border-radius: 25px;
}

#net-nav figure
{
    position: relative;
    display: inline;

    margin: 0;
    padding: 0;
}

#net-nav svg
{
    float: right;

    margin: 5px;
    padding: 0;

    width: 13px;
    height: 13px;
}

#net-nav svg * {
    width: 100%;
    height: 100%;
    fill: var(--main-nav-color);
}

#net-nav span
{
    display: block;
    float: right;

    margin-top: 3px;
    width: 0;

    transition: .2s;
    word-break: keep-all;
    overflow: hidden;
    font-weight: bold;
    opacity: 0;
}

#net-nav a:hover span
{
    margin-left: 10px;
    width: 90px;
    opacity: 1;
}

#website .intro
{
    display: absolute;

    min-height: 300px;
    height: calc(100vh - 120px);

    width: 100%;
}

#website .float
{
    padding-top: calc(100vh / 4);
}

#website .title
{

    margin: auto;
    padding: 15px;

    width: 500px;

    color: white;
    border: 2px solid white;
    text-align: center;
    font-family: var(--font);
    font-weight: bold;
    font-size: 30px;
}

#website .subtitle
{
    padding: 5px;
    margin: auto;

    width: 500px;

    color: white;
    text-align: center;
    font-family: var(--font);
    font-size: 20px;
}

#website .content
{
    display: block;

    width: 100%;
    background-color: green;
}
